<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAVASCRIPTS CURSO</title>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <input type="text" v-model="nuevaNota" @keyup.enter='agregarNota'>
        <button v-on:click="agregarNota" >Agregar</button>

        <ul>
            <li v-for=" not of calificacion">
                <input type="number" v-model.number ="not.nota">
                -{{not.nombre}}
                <button @click="not.nota++" >+</button>
                <span v-if ="not.nota >= 10"> - Usted Aprobó </span>
            </li>
        </ul>
        
        <h4>TOTAL = {{sumarNotas}} </h4>
        
        <pre>
            {{ $data }}
        </pre>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="01.js" ></script>
</body>
</html>