<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UpVote</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <section class="section">
    <div id="app" class="container">

      <h2 class="title has-text-centered dividing-header">{{title}}!</h2>

      <div class="section">
        <article v-for="submission in sortedSubmissions" 
          v-bind:key="submission.id" 
          class="media"
          v-bind:class="{ 'blue-border': submission.votes >= 20 }">
          <submission-component
            v-bind:submission="submission"
            v-bind:submissions="sortedSubmissions">
          </submission-component>
          
        </article>
      </div>


      <h2 class="title">Configuración</h2>
      <input ref="input" class="input" v-on:keyup.enter="saveTitle($refs.input.value)">
      <h2 class="title">Add submissions</h2>
      <form @submit.prevent="onSubmit">
        <input class="input" name="id" v-model="newSubmission.id">
        <input class="input" name="title" v-model="newSubmission.title">
        <input class="input" name="description" v-model="newSubmission.description">
        <button type="submit">Añadir</button>
      </form>
      <button @dblclick="test">probrar</button>
    </div>
  </section>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./js/app.js"></script>
</body>

</html>