<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Calculadora</title>
</head>

<body>
    <div class="container">
        <h1>Ingresa 2 números y escoge una operación.</h1>
        <form @submit.prevent="calcular" class="form-inline">

            <input v-model.number="a" @keyup.enter="calcular" class="form-control">
            <select v-model="operator" class="form-control">
                <option>+</option>
                <option>-</option>
                <option>*</option>
                <option>/</option>
            </select>

            <input v-model.number="b" @keyup.enter="calcular" class="form-control">
            <button type="submit" @click="calcular" class="btn btn-primary">
                CALCULAR
            </button>
        </form>
        <h2>Resultado: {{a}} {{operator}} {{b}} = {{c}}</h2>
        <pre>
            {{ $data }}
        </pre>
    </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">

    new Vue({
        el: '.container',
        data: {
            a: 1,
            b: 2,
            c: null,
            operator: "+"
        },
        methods: {
            calcular: function () {
               
                switch (this.operator) {
                    case "+":
                        this.c = this.a + this.b
                        break;
                    case "-":
                        this.c = this.a - this.b
                        break;
                    case "*":
                        this.c = this.a * this.b
                        break;
                    case "/":
                        this.c = this.a / this.b
                        break;
                }
            }
        },
    });
</script>

</html>