<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Practicando Conmutadas </title>
</head>

<body>
    <div class="container">
        <h1>Ingresa 2 números para calcular su suma.</h1>
        <form class="form-inline">
            <input v-model.number="a" class="form-control">
            
            <select  v-model="operador" class="form-control">
                <option >+</option>
                <option >-</option>
                <option >*</option>
                <option >/</option>
            </select>
            <input v-model.number="b" class="form-control">
        </form>
        <h2>Resultado: {{a}} + {{b}} = {{c}}</h2>
        <pre> {{ $data }} </pre>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '.container',
        data: {
            a: 1,
            b:2,
            operador:"+"
        },
        computed: {
            c: function () {
                switch(this.operador){
                    case "+":
                        return this.a + this.b;
                        break;
                    case "-":
                        return this.a - this.b;
                        break;
                    case "*": 
                        return this.c= this.a * this.b;
                        break;
                    case "/":
                        return this.c= this.a / this.b;
                        break;
                }
            }
        }
    });
</script>

</html>