<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Votos </title>
</head>
<body>
    
    <div class="container">
        <button @click="upvote" class="btn btn-primary" >!Votar!</button>
        <h5>Votos Actuales: {{upvotes}}</h1>
        <pre>
            {{$data}}
        </pre>
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
<script type="text/javascript">
    new Vue({
    el: '.container',
    data: {
    upvotes: 0
    },
    methods: {
        upvote: function(){
        this.upvotes++;
        }
    }

    })
    </script>
</html>