<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Hola, una vez más, Vue</title>
</head>
<body>
    <div class="container">
        <h1>Tabla de multiplicacion del 4.</h1>
        <ul class="list-group">
            <li v-for="i in 100" class="list-group-item">
                {{i-1}} por 4 es igual a {{(i-1)*4}} --
            </li>
        </ul>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="03.js"></script>
</html>