<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
            font-family: sans-serif;
        }
        h1{
            text-rendering: auto;
        }
    </style>

</head>
<body>
    <div id="app">
        <h1>Hola
        <span v-if="sexo == 'masculino' || sexo == 'femeninos'">
            <span v-show="sexo == 'masculino'">, Sr. {{nombre}} </span>
            <span v-show="sexo == 'femenino'">, Sra. {{nombre}} </span>
        </h1>

        <p>Ingresa tu sexo</p>
        <input type="text" v-model="sexo">
        <p>Ingresa tu nombre</p>
        <input type="text" v-model="nombre">
        
        <pre>
            {{ $data }}
        </pre>
    </div> 

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="Ejercicio2.js" ></script>
</body>


</html>