<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            text-align: center;
            font-family: sans-serif;
        }

        #message1 {
            background: rgb(236, 141, 24);
        }

        #message2 {
            background: cornflowerblue;
        }
    </style>
</head>

<body>

    <div id="app">
        <h1 v-if="!message1">¡Debes enviar un mensaje de ayuda!</h1>
        <h2 v-else>¡Has enviado un mensaje!</h2>
        
        <textarea v-model="message1"></textarea>
        <button v-show="message1">
            ¡Enviar mensaje de ayuda a los aliados!
        </button>
        <pre>
            {{ $data }}
        </pre>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="02.js"></script>
</body>

</html>